{% extends 'main.html' %}

{% block content %}

<h1>HOMEPAGE TEMPLATE</h1>

<div>

    <a href="{% url 'posts:create-post' %}">Create Post</a>

    {% for post in posts %}

        <div>
            <a href="{% url 'posts:post' post.id %}">{{ post.name }}</a>
            <p>Topic: {{ post.topic }}</p>
            <p>Posted by <b>@{{ post.user }}</b> - {{ post.created|timesince }} ago</p>

            {% if request.user == post.user %}
                <a href="{% url 'posts:update-post' post.id %}">update post</a>
                <a href="{% url 'posts:delete-post' post.id %}">delete post</a>
            {% endif %}
        </div>

        <hr>

    {% endfor %}
</div>


{% endblock content %}