{% extends 'main.html' %}

{% block content %}

<h1>POST TEMPLATE</h1>

<div>
    <h3>{{ post.name }}</h3>
    <p>{{ post.description }}</p>

    {% if request.user == post.user %}
        <a href="{% url 'posts:update-post' post.id %}?next={{ request.path|urlencode }}">update post</a>
        <a href="{% url 'posts:delete-post' post.id %}?next={{ request.path|urlencode }}">delete post</a>
    {% endif %}
</div>

<h3>Comments</h3>
<hr>

{% if request.user.is_authenticated %}
    <div>
        <form action="" method='POST'>
            {% csrf_token %}

            <textarea name="comment" id="comment" cols="50" rows="10" placeholder="Enter your comment..."></textarea>

            <input type="submit" value="Add comment">
        </form>
    </div>
{% endif %}

<div>
    {% for comment in comments %}

        <div>
            <p>@{{ comment.user }} - {{ comment.created|timesince }} ago</p>
            <p>{{ comment.body }}</p>

            {% if request.user == comment.user %}
                <a href="{% url 'comments:update-comment' comment.id %}?next={{ request.path|urlencode }}">update comment</a>
                <a href="{% url 'comments:delete-comment' comment.id %}?next={{ request.path|urlencode }}">delete comment</a>
            {% endif %}
        </div>

        <hr>

    {% endfor %}
</div>

{% endblock content %}