{% comment %} <nav class="navbar">
    <a href="{% url 'posts:index' %}" class="navbar__logo">PAL</a>

    <div class="navbar__btn-container">
        {% if request.user.is_authenticated %}
            <p>Hello, {{ request.user.username }} </p>
            <a href="{% url 'user:log-out' %}" class="navbar__btn-container--logout">Log Out</a>
        {% else %}
            <a href="{% url 'user:sign-in' %}" class="navbar__btn-container--signin">Sign in</a>
            <a href="{% url 'user:sign-up' %}" class="navbar__btn-container--signup">Sign up</a>
        {% endif %}
    </div>
    
</nav> {% endcomment %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PAL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'posts:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts:create-post' %}">Create Post</a>
          </li>
        </ul>

        {% comment %} <form class="d-flex mr-5">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> {% endcomment %}
        
        <div class="d-flex justify-content-center">
            {% if request.user.is_authenticated %}
                <p class="nav-item">Hello, {{ request.user.username }} </p>
                <a href="{% url 'user:log-out' %}" class="btn btn-secondary">Log Out</a>
            {% else %}
                <a href="{% url 'user:sign-in' %}" class="btn btn-outline-secondary">Sign in</a>
                <a href="{% url 'user:sign-up' %}" class="btn btn-outline-primary">Sign up</a>
            {% endif %}
        </div>
        
      </div>
    </div>
  </nav>