@import url('base.css');
@import url('navbar.css');

.card-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-header p {
    margin-bottom: 0;
}

.btn-outline-primary {
    margin-left: 1rem;
}

.navbar {
    padding: .8rem 2rem;
}

.wrapper {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#postForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#id_name, #id_description, #id_topic {
    width: 100%;
    margin-bottom: 1rem;
}