{% extends 'main.html' %}

{% block content %}

    <div>
        <form action="" method='POST'>
            {% csrf_token %}

            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter username">

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter password">

            <input type="submit" value="Submit">

        </form>

        <p>Don't you have an account?</p>
        <a href="{% url 'user:sign-up' %}">Sign Up</a>
    </div>

{% endblock content %}